* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

main {
    margin: 0 auto;
    max-width: 960px;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0px;
    margin: 0px;
}